.btn {
    border: none;
    font-family: inherit;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    color: $primary-text-color;
    background-color: $accent-color;
    cursor: pointer;
}