$primary-text-color: #000000;
$footer-text-color: #545454;
$accent-color: #ff6b01;
$desc-color: #8c8c8c;
$primary-bg-color: #ffffff;
$accent-bg-color: #f7f7f7;

$transition: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

// !
// @media (min-width: 768px){
//
// }

// @media (min-width: 1024px) {
//
// }
