<footer class="footer">
  <div class="container">
    <ul class="footer__content">
      <li>
        <p class="footer__aside">&copy 2020 | All Rights Reserved |</p>
      </li>
      <li><p class="footer__aside--crash">Developed with</p></li>
      <li>
        <svg class="footer__icon">
          <use href="./images/footer-img/sprite.svg#heart"></use>
        </svg>
      </li>
      <li><p class="footer__aside--separ">by</p></li>
      <li>
        <button type="button" class="footer__link" data-team-open>
          GoIT Students
        </button>
      </li>
    </ul>
  </div>
</footer>
