<header class="header">
  <div class="container">
    <div class="header__inner-container">
      <div class="header__logo">
        <a href="/src/index.html" class="header__link">
        <img
          class="header__logo--image"
          src="/src/images/header/logo/film.svg"
          alt="logo"
        />
        </a>
        <a href="/src/index.html" class="header__link">
        <p class="header__logo--title">Filmoteka</p>
      </a>
      </div>

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item menu__item--current">
            <a class="menu__link" href="/src/index.html">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/src/library.html">my library</a>
          </li>
        </ul>
      </nav>
    </div>

    <form class="search-films">
      <div class="search-films__inner">
        <input
          class="search-films__query"
          type="text"
          placeholder="Search films..."
        />
        <button class="search-films__btn" type="submit"></button>
      </div>
    </form>
  </div>
</header>
