<div class="teamlist__backdrop backdrops--hidden" data-team>
  <div class="teamlist">
    <div class="teamlist__close" data-team-close></div>
    <div class="teamlist__slideshow">
      <!-- Full-width images with number and caption text -->
      <div class="teamlist__card fade">
        <div class="teamlist__numbertext">1 / 6</div>
        <img
          alt="team member photo"
          class="footimg"
          src="./images/footer-img/reizlina3.jpg"
          style="width: 100%"
        />
      </div>
      <div class="teamlist__card fade">
        <div class="teamlist__numbertext">2 / 6</div>
        <img
          alt="team member photo"
          class="teamlist__footimg"
          src="./images/footer-img/melikov2.jpg"
          style="width: 100%"
        />
      </div>
      <div class="teamlist__card fade">
        <div class="teamlist__numbertext">3 / 6</div>
        <img
          alt="team member photo"
          class="teamlist__footimg"
          src="./images/footer-img/riabenko2.jpg"
          style="width: 100%"
        />
      </div>
      <div class="teamlist__card fade">
        <div class="teamlist__numbertext">4 / 6</div>
        <img
          alt="team member photo"
          class="teamlist__footimg"
          src="./images/footer-img/seliuzhytski2.jpg"
          style="width: 100%"
        />
      </div>
      <div class="teamlist__card fade">
        <div class="teamlist__numbertext">5 / 6</div>
        <img
          alt="team member photo"
          class="teamlist__footimg"
          src="./images/footer-img/budaryn2.jpg"
          style="width: 100%"
        />
      </div>
      <div class="teamlist__card fade">
        <div class="teamlist__numbertext">6 / 6</div>
        <img
          alt="team member photo"
          class="teamlist__footimg"
          src="./images/footer-img/teamdream2.jpg"
          style="width: 100%"
        />
      </div>
      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</div>
