<div class="backdrop is-hidden" data-modal>
  <div class="container">
    <div class="modal">
      <div class="close" data-modal-close>
        <div class="close__leftright"></div>
        <div class="close__rightleft"></div>
      </div>
      <div class="modal__backcall">
        <div class="modal__img-box">
          <img
            class="modal__img"
            src="./images/modal/RectangleTabletQuality.jpg"
            alt="movie "
          />
        </div>
        <div class="modal__text-content">
          <h2 class="modal__title">A FISTFUL OF LEAD</h2>
          <div class="modal__dicr">
            <ul class="modal__list1">
              <li class="modal__list-item">Vote / Votes</li>
              <li class="modal__list-item">Popularity</li>
              <li class="modal__list-item">Original Title</li>
              <li class="modal__list-item">Genre</li>
            </ul>
            <ul class="modal__list2">
              <li class="modal__item">
                <span class="modal__vote1">7.3</span> /
                <span class="modal__vote2">1260</span>
              </li>
              <li class="modal__item">100.2</li>
              <li class="modal__item">A FISTFUL OF LEAD</li>
              <li class="modal__item">Western</li>
            </ul>
          </div>
          <article class="modal__article">
            <h3 class="modal__subtitle">About</h3>
            <p class="modal__text">
              Four of the West-s most infamous outlaws assemble to steal a huge
              stash of gold from the most corrupt settlement of the gold rush
              towns. But not all goes to plan one is killed and the other three
              escapes with bags of gold hide out in the abandoned gold mine
              where they happen across another gang of three - who themselves
              were planning to hit the very same bank! As tensions rise, things
              go from bad to worse as they realise the bags of gold are filled
              with lead... they-ve been double crossed - but by who and how?
            </p>
          </article>
          <div class="modal__btn-box">
            <button class="modal__button-org" type="button">
              add to Watched
            </button>
            <button class="modal__button-trans" type="button">
              add to queue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
