<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <div class="teamlist__backdrop backdrops--hidden" data-team>
      <div class="teamlist">
        <div class="teamlist__close" data-team-close>
          <div class="teamlist__slideshow">
            <!-- Full-width images with number and caption text -->
            <div class="teamlist__card fade">
              <div class="teamlist__numbertext">1 / 6</div>
              <img
                class="footimg"
                src="./images/footer-img/reizlina.jpg"
                style="width: 100%"
              />
              <p class="teamlist__text">Team leader</p>
            </div>
            <div class="teamlist__card fade">
              <div class="teamlist__numbertext">2 / 6</div>
              <img
                class="teamlist__footimg"
                src="./images/footer-img/melikov.jpg"
                style="width: 100%"
              />
              <p class="teamlist__text teamlist__text--bottom">Scrum master</p>
            </div>
            <div class="teamlist__card fade">
              <div class="teamlist__numbertext">3 / 6</div>
              <img
                class="teamlist__footimg"
                src="./images/footer-img/riabenko.jpg"
                style="width: 100%"
              />
              <p class="teamlist__text">Lead developer</p>
            </div>
            <div class="teamlist__card fade">
              <div class="teamlist__numbertext">4 / 6</div>
              <img
                class="teamlist__footimg"
                src="./images/footer-img/seliuzhytski.jpg"
                style="width: 100%"
              />
              <p class="teamlist__text">Junior developer</p>
            </div>
            <div class="teamlist__card fade">
              <div class="teamlist__numbertext">5 / 6</div>
              <img
                class="teamlist__footimg"
                src="./images/footer-img/budaryn.jpg"
                style="width: 100%"
              />
              <p class="teamlist__text">Assistant junior</p>
            </div>
            <div class="teamlist__card fade">
              <div class="teamlist__numbertext">6 / 6</div>
              <img
                class="teamlist__footimg"
                src="./images/footer-img/teamdream.jpg"
                style="width: 100%"
              />
              <p class="teamlist__text teamlist__text--middle">Trojan horse</p>
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>

          <!-- <br />
          The dots/circles
          <div style="text-align: center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
          </div> -->
        </div>
      </div>
    </div>
    <script type="module" src="./js/modalteam.js"></script>
    <script type="module" src="./js/footer.js"></script>
  </body>
</html>
