* {
  box-sizing: border-box;
}
//backdrop
.backdrops--hidden {
  opacity: 0;
  visibility: hidden;
}
.backdrops--hidden .teamlist {
  transform: scaleY(0);
}
.teamlist {
  position: relative;
  
  &__backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    width: auto;
    height: auto;
    z-index: 1000;
    
  }
  &__close {
    position: absolute;
    top: 10px;
    left: 300px;
    width: 30px;
    height: 30px;
    transition: 0.3s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 2px;
      top: 50%;
      left: 50%;
      background-color: #fff;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover::before,
    &:hover::after {
      background-color: #fff;
    }
  }
  /* Slideshow container */
  &__slideshow {
    max-width: 1310px;
    position: relative;
    margin: auto;
  }
  /* Hide the images by default */
  &__card {
    display: none;
  }
  // &__footimg {
  //   max-height: 500px;
  // }
  
  /* Number text (1/6 etc) */
  &__numbertext {
    color: rgb(229, 147, 147);
    font-size: 12px;
    padding: 8px 25px;
    position: absolute;
    top: 0;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(229, 147, 147);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@media (max-width: 1001px) {
  .teamlist__backdrop {
    top: 50px;
  }
  }

@media (max-width: 768px) {
  .teamlist__backdrop {
    top: 100px;
  }
  }

@media (max-width: 481px) {
  .teamlist__backdrop {
    top: 150px;
  }
}
